.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.5rem;
  font-weight: bold;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.App-logo {
  height: 40px;
}

.App-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
  font-size: 0.8rem;
}
